<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harshit - Python Developer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>

        <nav class="navbar">
            <ul id="sidemenu">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Get in touch</a>
                <i class="fa-solid fa-times" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>


        </nav>

    </header>


    <section class="home" id="home">
        <div class="home-content">
            <h3>Hi There, I'm </h3>
            <h1><span class=hcolour>Harshit Agarwal</span></h1>
            <br>
            <p>I'm a <span id="element"></span> <br> Currently working as Software Developer.</p>
            <div class="home-1">
                <a href="https://wa.me/9588979508?text=Hello%20there!"><i class="fa-brands fa-whatsapp"></i></a>
                <a
                    href="https://www.linkedin.com/in/harshit-agarwal-308b4a198?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Harshit-Paradox"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/__harshit__agarwal/"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <a href="/static/img/HarshitAgarwalResume.pdf" class="download-button">Resume</a>
            <a href="#contact" class="download-button">Get in touch</a>
        </div>

    </section>



    <div class="about-head">
        <h2 class="heading">About <span>Me</span></h2>
    </div>

    <section class="about" id="about">

        <div class="about-img">
            <!-- <h2 class="heading">About <span>Me</span></h2> -->
            <img src="/static/img/IMG_20220721_121944.jpg" alt="">

        </div>
        <div class="about-content">
            <!-- <h2 class="heading">About <span>Us</span></h2> -->
            <p>Hello! I’m Harshit Agarwal, a passionate software developer with expertise in both backend and frontend
                development.
                My journey in technology has been driven by a commitment to crafting efficient, scalable, and
                user-friendly solutions that solve real-world problems.</p>
            <p>With a strong foundation in software development, I focus on creating seamless experiences, from
                designing intuitive user interfaces to developing robust backend systems.
                My goal is to bridge functionality with creativity, delivering impactful solutions that meet diverse
                needs.</p>
            <!-- <a href="#" class="download-button">Read More</a> -->
        </div>
    </section>



    <div class="skills-head">
        <h2>Skills</h2>
    </div>

    <section class="sec-skills" id="skills">

        <div class="container1">

            <h1 class="heading1">Technical Skills</h1>
            <div class="Technical-bars">
                <div class="bar"><i style="color:#c95d2e" class="fa-brands fa-html5"></i>
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="progress-line html">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color:#147bbc" class="fa-brands fa-css3-alt"></i>
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="progress-line css">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color:#b0bc1e" class="fa-brands fa-js"></i>
                    <div class="info">
                        <span>Javascript</span>
                    </div>
                    <div class="progress-line javascript">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color:#c32ec9" class='fa-brands fa-python'></i>
                    <div class="info">
                        <span>React</span>
                    </div>
                    <div class="progress-line python">
                        <span></span>
                    </div>
                </div>
                <div class="bar"><i style="color:#69BCBC" class="fa-brands fa-bolt"></i>
                    <div class="info">
                        <span>Node.js</span>
                    </div>
                    <div class="progress-line django">
                        <span></span>
                    </div>

                </div>
                <div class="bar"><i style="color: #147bbc" class="fa-brands fa-salesforce"></i>
                    <div class="info">
                        <span>Next.js</span>
                    </div>
                    <div class="progress-line sa">
                        <span></span>
                    </div>
                </div>
            </div>

        </div>





        <div class="container1">
            <h1 class="heading1">Professional Skills</h1>
            <div class="radial-bars">

                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">90%</div>
                    <div class="text">Creativity</div>
                </div>
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">70%</div>
                    <div class="text">Communication</div>
                </div>
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">80%</div>
                    <div class="text">Problem-Solving</div>
                </div>
                <div class="radial-bar">
                    <svg x="0px" y="0px" viewBox="0 0 200 200">
                        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                    </svg>
                    <div class="percentage">100%</div>
                    <div class="text">Teamwork</div>
                </div>

            </div>
        </div>




    </section>









    <section class="projects" id="projects">
        <div class="projects-content">
            <h2>Projects</h2>
            <div class="work-list">
                <div class="work">
                    <img src="/static/img/Thehaatbazaar.png">
                    <div class="layer">
                        <h4>The Haat Bazaar</h4>
                        <p>Built with Next.js and powered by a Node.js backend for jewelry Purchase</p>
                        <a href="https://thehaatbazaar.com/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/static/img/Na.png">
                    <div class="layer">
                        <h4>Natours</h4>
                        <p>This website is used for Travelling for and exploring New places</p>
                        <a href="https://8de3-2401-4900-7ddd-fed7-8c51-c392-fe91-643c.ngrok-free.app"><i
                                class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/static/img/3qubes1.png">
                    <div class="layer">
                        <h4>3qubes</h4>
                        <p>This website is for Builders and Developers</p>
                        <a href="3qubes.co"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>


            </div>
            <a class="download-button" href="#">See more</a>
        </div>

    </section>

    <section class="contact" id="contact">
        <div class="contact-content">
            <h2>Get in Touch</h2>
            <div class="contact-row">
                <div class="contact-left">
                    <h1>Contact Me</h1>
                    <a href="mailto:harshitagarwalwork21@gmail.com?subject=Hello%20Harshit&body=Hi%20Harshit,%0A%0A"><i
                            class="fa-solid fa-paper-plane"></i>harshitagarwalwork21@gmail.com</i></a>
                    <!-- <p><i class="fa-solid fa-paper-plane"></i>Harshitagarwalwork21@gmail.com</p> -->
                    <p><i class="fa-solid fa-mobile"></i>9588979508</p>
                    <p><i class="fa-solid fa-location-pin"></i>Sawai Madhopur, Rajasthan India</p>
                    <div class="contact-icons">
                        <a href="https://www.instagram.com/__harshit__agarwal/"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a
                            href="mailto:harshitagarwalwork21@gmail.com?subject=Hello%20Harshit&body=Hi%20Harshit,%0A%0A"><i
                                class="fa-solid fa-envelope"></i></a>
                        <a href="https://twitter.com/messages/compose?recipient_id=Harshit33267870&text=Hello%20Harshit"
                            target="_blank"><i class="fa-brands fa-twitter"></i></a>

                    </div>
                </div>
                <div class="contact-right">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="message" rows="6" placeholder="Your message"></textarea>
                        <button type="submit" class="download-button">Submit</button>

                    </form>
                </div>
            </div>

        </div>
    </section>

    <div class="last">
        <div class="last-content">
            <img src="/static/img/time-paradox.png" alt="">
            <p>Copyright Paradox.</p>

        </div>
    </div>









    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed('#element', {
            strings: ['Backend Developer', 'Full Stack Developer', 'React Developer'],
            typeSpeed: 50,
        });
    </script>

    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu() {
            sidemenu.style.right = "0";
        }
        function closemenu() {
            sidemenu.style.right = "-200px";
        }
    </script>


</body>

</html>