<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harshit - Python Developer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Get in touch</a>


        </nav>

    </header>


    <section class="home" id="home">
        <div class="home-content">
            <h3>Hi There, I'm </h3>
            <h1><span class=hcolour>Harshit Agarwal</span></h1>
            <br>
            <p>I'm a <span id="element"></span> <br>  Currently working as Backend Developer.</p>
            <div class="home-1">
                <a href="https://wa.me/9588979508?text=Hello%20there!"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.linkedin.com/in/harshit-agarwal-308b4a198?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Harshit-Paradox"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/__harshit__agarwal/"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <a href="/staticfiles/img/HarshitAgarwalResume.pdf" class="download-button">Resume</a>
            <a href="#contact" class="download-button">Get in touch</a>
        </div>

    </section>
    <section class="about" id="about">
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <p>Hello! I’m Harshit Agarwal, a passionate backend developer with a strong foundation in Python and Django. My journey in technology has been marked by a commitment to developing efficient, scalable solutions that drive innovation and meet real-world needs.</p>
               <p>Beyond my backend expertise, I have honed my skills in Salesforce, enabling me to integrate and enhance customer relationship management systems effectively. This blend of backend development and Salesforce proficiency allows me to deliver comprehensive solutions that optimize both operational workflows and customer. </p>
            <a href="#" class="download-button">Read More</a>

        </div>
        <div class="about-img">
            <img src="/staticfiles/img/Snapchat-16890196352 copy.jpg" alt="">

        </div>
    </section>



    <div class="skills-head">
    <h2>Skills</h2>
    </div>

    <section class="sec-skills" id="skills">

            <div class="container1">

                <h1 class="heading1">Technical Skills</h1>
                <div class="Technical-bars">
                    <div class="bar"><i style="color:#c95d2e" class="fa-brands fa-html5"></i>
                        <div class="info">
                            <span>HTML</span>
                        </div>
                        <div class="progress-line html">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar"><i style="color:#147bbc" class="fa-brands fa-css3-alt"></i>
                        <div class="info">
                            <span>CSS</span>
                        </div>
                        <div class="progress-line css">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar"><i style="color:#b0bc1e" class="fa-brands fa-js"></i>
                        <div class="info">
                            <span>Javascript</span>
                        </div>
                        <div class="progress-line javascript">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar"><i style="color:#c32ec9" class='fa-brands fa-python'></i>
                        <div class="info">
                            <span>Python</span>
                        </div>
                        <div class="progress-line python">
                            <span></span>
                        </div>
                    </div>
                    <div class="bar"><i style="color:#69BCBC" class="fa-brands fa-bolt"></i>
                        <div class="info">
                            <span>Django</span>
                        </div>
                        <div class="progress-line django">
                            <span></span>
                        </div>

                    </div>
                    <div class="bar"><i style="color: #147bbc" class="fa-brands fa-salesforce"></i>
                        <div class="info">
                            <span>Salesforce-admin</span>
                        </div>
                        <div class="progress-line sa">
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>





            <div class="container1">
                <h1 class="heading1">Professional Skills</h1>
                <div class="radial-bars">

                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="percentage">90%</div>
                        <div class="text">Creativity</div>
                    </div>
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="percentage">70%</div>
                        <div class="text">Communication</div>
                    </div>
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="percentage">80%</div>
                        <div class="text">Problem-Solving</div>
                    </div>
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="percentage">100%</div>
                        <div class="text">Teamwork</div>
                    </div>

                </div>
            </div>

        


    </section>









    <section class="projects" id="projects">
        <div class="projects-content">
            <h2>Projects</h2>
            <div class="work-list">
                <div class="work">
                    <img src="/staticfiles/img/Stock-Bank-Loan_1862a8288fe_large.jpg">
                    <div class="layer">
                        <h3>LoanShow Website</h3>
                        <p>This website is used for choosing the best loan offer by the different - different bank</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/staticfiles/img/pexels-robinstickel-70497.jpg">
                    <div class="layer">
                        <h3>Foodie hub</h3>
                        <p>This website is used for ordering the food and book the table in reastaurant</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/staticfiles/img/loading-loading-screen-wallpaper-preview.jpg">
                    <div class="layer">
                        <h3>Loading</h3>
                        <p>This website is Loading</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>


            </div>
            <a class="download-button" href="#">See more</a>
        </div>

    </section>

    <section class="contact" id="contact">
        <div class="contact-content">
            <h2>Get in Touch</h2>
            <div class="contact-row">
                <div class="contact-left">
                    <h1>Contact Me</h1>
                    <a href="mailto:harshitagarwalwork21@gmail.com?subject=Hello%20Harshit&body=Hi%20Harshit,%0A%0A"><i class="fa-solid fa-paper-plane"></i>harshitagarwalwork21@gmail.com</i></a>
                    <!-- <p><i class="fa-solid fa-paper-plane"></i>Harshitagarwalwork21@gmail.com</p> -->
                    <p><i class="fa-solid fa-mobile"></i>9588979508</p>
                    <p><i class="fa-solid fa-location-pin"></i>Sawai Madhopur, Rajasthan India</p>
                    <div class="contact-icons">
                        <a href="https://www.instagram.com/__harshit__agarwal/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="mailto:harshitagarwalwork21@gmail.com?subject=Hello%20Harshit&body=Hi%20Harshit,%0A%0A"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://twitter.com/messages/compose?recipient_id=Harshit33267870&text=Hello%20Harshit" target="_blank"><i class="fa-brands fa-twitter"></i></a>

                    </div>
                </div>
                <div class="contact-right">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="message" rows="6" placeholder="Your message"></textarea>
                        <button type="submit" class="download-button">Submit</button>

                    </form>
                </div>
            </div>

        </div>
    </section>

    <div class="last">
        <div class="last-content">
            <img src="/staticfiles/img/time-paradox.png" alt="">
            <p>Copyright Paradox.</p>

        </div>
    </div>









    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed('#element', {
            strings: ['Web Developer', 'Video Editor' ,'Salesforce Developer'],
            typeSpeed: 50,
        });
    </script>


</body>

</html>